
.topHeight{
    // margin-top:10px;
}
.divider{
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin: 1rem 0;
    line-height: 1;
    height: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    width: 95%;
}
.app-name-header{
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  padding-right: 20px;
}
.app-show-color{
    background-color: red;
    width: 20px;
    height: 20px;
    border: 1px solid #324057;
    border-radius: 3px
}